a:hover {
    text-decoration: none;
}

.vcenter {
    padding-top: 200px;
}

.pics {
    margin-top: 15px;
}

.hcenter {
    text-align: center;
}

.hleft {
    text-align: left;
}

img {
    width: 64px;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
