a:hover {
    text-decoration: none;
}

.vcenter {
    padding-top: 200px;
}

.pics {
    margin-top: 15px;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.hcenter {
    text-align: center;
}

.hleft {
    text-align: left;
}

img {
    width: 64px;
}
